{{!< ../layout}} <title>:: Hello Test App ::</title>
	<header class="header-part">
		<div class="container">
			<div class="row">
				<div class="front">
					<div class="row-height">
						<div class="col-lg-6 col-sm-12 col-height">
							<div class="first-block">
								<img class="app-icon-logo" src="public/Images/logoicon.png" alt="Eezy-logo" />
								<h1>Hello test app for chaos monkey 😉</h1>
								<h3>After 6pm, let test app take care of your evening so you can take care of having fun</h3>
								<div class="email_block ">
									<form class="form-inline notify_form first-form" id="formNotification">
										<p class="input-label-text">Get notified when eezy is available:</p>
										<input type="email" class="form-control" id="txtEmail" placeholder="Enter your email address">
										<button type="button" onclick="SaveNotification()" id="btnNotify" class="btn btn-primary notify_btn">Sign me
											up</button>

										<label id="lblErrorMsg" class="error-msg" style="display:none;"></label>
									</form>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-sm-12 col-height text-right phone_img">
							<img src="public/Images/iphone-logo.png" alt="phone" />
						</div>
					</div>
					<div class="col-lg-12 col-sm-12 front_learnbtn text-center">
						<a class="bottom-scroll" href="#more">
							<img src="public/Images/mouse.png" alt="mouse" /> <br>LEARN MORE</a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="service-section">
		<div class="container">
			<div class="steps_block" id="more">
				<div class="row">
					<div class="col-sm-4">
						<div class="step">
							<div class="step_image" style="background-image: url(public/Images/personalbot1.svg); background-size: contain;"></div>
							<h3>Personal</h3>
							<p>eezy learns about you</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="step">
							<div class="step_image" style="background-image: url(public/Images/personalbot2.svg); background-size: contain;"></div>
							<h3>Discover</h3>
							<p>Al powered <br /> recomendations</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="step margin10">
							<div class="step_image" style="background-image: url(public/Images/personalbot3.svg); background-size: contain;"></div>
							<h3>Enjoy</h3>
							<p>Less planning,<br /> more fun</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="home_footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h3 class="footer_heading">Be the first to access eezy</h3>
					<h4 class="footer_subheading">Get notified when eezy is available</h4>
					<div class="email_block footer_email_block">
						<form class="form-inline notify_form">
							<input type="email" class="form-control" id="txtEmail2" placeholder="Enter your email address">
							<button type="button" onclick="SaveNotification2()" class="btn btn-primary notify_btn">Notify me</button>
							<label id="lblErrorMsg2" class="error-msg" style="display:none;"></label>
						</form>
					</div>
				</div>
			</div>
			<div class="row copyright">
				<div class="col-sm-6">
					<p class="copyright_text">© 2016 SCRN. All Rights Reserved</p>
				</div>
				<div class="col-sm-6">
					<div class="footer_links">
						<a href="#">Email us</a>
						<a href="#">Facebook</a>
						<a href="#">Twitter</a>
					</div>
				</div>
			</div>
	</footer>